[submodule "src/crazyswarm2"]
	path = src/crazyswarm2
	url = https://github.com/noah-ginzburg/crazyswarm2.git
[submodule "src/vicon_bridge"]
	path = src/vicon_bridge
	url = https://github.com/noah-ginzburg/vicon_bridge.git
