# External repos
crazyflie-firmware/
src/crazyswarm2/
CollectiPy/

# ROS2 build artifacts
build/
install/
log/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/

# C/C++
*.o
*.so
*.a

# IDE
.vscode/
.idea/

# Misc
*.swp
*.swo
.DS_Store
